<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/material-fullpalette.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/roboto.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ripples.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-filemanager.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-chart.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-uploader.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.13.1.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/angular-toastr.min.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/chart.min.js"></script>
    <script src="~/Scripts/angular-chart.min.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/config.js"></script>
    <script src="~/App/config.route.js"></script>
    <script src="~/App/util.js"></script>
    <script src="~/App/common/common.js"></script>

    <script src="~/App/controllers/home.js"></script>
    <script src="~/App/controllers/dashboard.js"></script>
    <script src="~/App/controllers/modalDialog.js"></script>
    <script src="~/App/controllers/admin.js"></script>

    <script src="~/App/directives/fileUpload.js"></script>

    <script src="~/App/directives/fileManagerController.js"></script>
    <script src="~/App/directives/modalController.js"></script>

    <script src="~/App/filemanager/filenavigator.js"></script>
    <script src="~/App/filemanager/fileuploader.js"></script>
    <script src="~/App/filemanager/item.js"></script>
    <script src="~/App/filemanager/chmod.js"></script>

    <script src="~/App/directives/fileManager.js"></script>
    <script src="~/App/directives/ngFile.js"></script>
    <script src="~/App/directives/ngRightClick.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>