@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>
